# Basics
POSTGRES_USER=gatus
POSTGRES_PASSWORD=gatus
POSTGRES_DB=gatus
SYNC_INTERVAL=300
GIT_REPO_URL=

# Caddy
CADDY_DOMAIN=status.example.com

# Auth
OIDC_ISSUER_URL=
OIDC_REDIRECT_URL=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=

# Notifications
PUSHOVER_APP_TOKEN=
PUSHOVER_USER_KEY=
PUSHOVER_DEVICES=Tobias